<!DOCTYPE html>
<html lang="en" ng-app="wireframe">

<head>
  <meta charset="utf-8">
  <link href="min/wmin.css" type="text/css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Wireframes made easy </title>
  
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>

<body>

  <div class="container nav end noborder">
    <span class="child logo" data-balloon="Logo!" data-balloon-pos="down">LALALALA</span>
    <span class=" padd " data-balloon="Some link " data-balloon-pos="down">Nav1dsad</span>
    <span class="padd" data-balloon="Eg. Home" data-balloon-pos="up">Nav2 might contain </span>
    <span class=" padd " data-balloon="About Us! " data-balloon-pos="down">Contact us </span>
    <span class="padd" data-balloon="Contact Us" data-balloon-pos="up">Contact us </span>
  </div>

  <div class=" parent header" data-balloon-pos="down" data-balloon="Some long description telling about Header Image"></div>

  <div class="container noborder products ">
    <div class="parent box4 v-end ">asdasdf asdsad asdasdf
      <br>asdasdf asdsad asdasdfasdasdf asdsad asdasdf</div>
    <div class="parent box4 v-end ">asdasdf asdsad asdasdf
      <br>asdasdf asdsad g asdasdasdf asdsad g asdasdas asdasdf
      <br>asdasdf asdsad gg asdasdas asdasdf</div>
    <div class="parent box4 v-end ">asdasdf asdsad asdasdf
      <br>asdasdf asdsad asdasdfasdasdf asdsad asdasdf</div>
    <div class="parent box4 v-end ">asdasdf asdsad asdasdf
      <br>asdasdf asdsad asdasdfasdasdf asdsad g pasdasdf asdsad g asdasdf asdsad g asdasdleasure</div>
  </div>

  <div class="container buttonbar noborder col">
    <span>The good old Search Bar!sadasdasdsa dasdasdasdadasd<br>
      The good old Search Bar!sadasdasdsa dasdasdasdadasd.asdasdasdasdasdasdassssssssssssssdadasdasd</span>
    <form>
      <input type="text"></input>
      <button>Submit</button>
    </form>
  </div>

  <div class="container noborder">
    <control-group></control-group>
    <control-group></control-group>
    <control-group></control-group>
    <div class="control-group">
      <h1>Select boxes</h1>
      <div class="select">
        <select>
          <option ng-repeat="x in [1,2,3]">First select</option>
        </select>
        <div class="select__arrow"></div>
      </div>
      <div class="select">
        <select>
          <option ng-repeat="x in [1,2,3]">Second select</option>
        </select>
        <div class="select__arrow"></div>
      </div>
      <div class="select">
        <select disabled="disabled">
          <option ng-repeat="x in [1,2,3]">Disabled</option>
        </select>
        <div class="select__arrow"></div>
      </div>
    </div>
    <textarea-component rows="5"></textarea-component>
  </div>

  <div class="container noborder">
    <table-component></table-component>
  </div>

  <div class="container noborder">
    <ul ng-repeat="x in [1,2,3]">
      <li>asdfa asdfasdf asdfasdf</li>
      <li>asdfasdf asdfafdsa asdf</li>
      <li>asdfasdfasdf asdf asdfa</li>
      <li>asdfasdf asdfasasd asdf</li>
      <li>asdfasdf asdfa sdfasdf</li>
    </ul>

  </div>

</body>

</html>
