//- index.pug
extends ../layouts/base

block title
    title Article Title

block content
    .container.nav.end.noborder
        span(class="child logo", data-balloon="Logo!", data-balloon-pos="down") LALALALA
        span(class="padd", data-balloon="Some link!", data-balloon-pos="down") Nav1dsad
        span(class="padd", data-balloon="Eg. Home", data-balloon-pos="up") Nav2 might contain
        span(class="padd", data-balloon="About Us! ", data-balloon-pos="down") Contact us
        span(class="padd", data-balloon="Contact Us! ", data-balloon-pos="up") Contact us

    div(class=" parent header", data-balloon-pos="down", data-balloon="Some long description telling about Header Image")
        .container.noborder.products
            each val in [1, 2, 3, 4]
                .parent.box4.v-end asdasdf asdsad asdasdf
                    <br/> asdasdf asdsad asdasdfasdasdf asdsad asdasdf


    .container.buttonbar.noborder.col
        span. The good old Search Bar!sadasdasdsa dasdasdasdadasd
            <br/> The good old Search Bar!sadasdasdsa dasdasdasdadasd.asdasdasdasdasdasdassssssssssssssdadasdasd
        form
            input(type="text")
            button Submit


    .container.noborder
        each val in [1, 2, 3, 4]
            .control-group
                h1 Checkbox
                label.control.control--checkbox First
                    input(type="checkbox", checked="checked")
                    div.control__indicator

                label.control.control--checkbox Second
                    input(type="checkbox")
                    div.control__indicator

                label.control.control--checkbox Disabled
                    input(type="checkbox", disabled="disabled")
                    div.control__indicator

                label.control.control--checkbox Disabled & checked
                    input(type="checkbox", disabled="disabled", checked="checked")
                    div.control__indicator


    .container.noborder
        table
            tr
                each val in [1, 2, 3]
                    th asdf asdasdf
            tr
                each val in [1, 2, 3]
                    td asdf asdfasdaasdf asdfsdf
            tr
                each val in [1, 2, 3]
                    td asdf asdfasdaasdf asdfsdf


    .container.noborder
        ul
            each val in [1,2,3,4,5]
                li asdfa asdfasdf asdfasdf

        ul
            each val in [1,2,3,4,5]
                li asdfa asdfasdf asdfasdf

        ul
            each val in [1,2,3,4,5]
                li asdfa asdfasdf asdfasdf



