doctype html
html
    head
        meta(charset="utf-8")
        link(href="/css/main.css", type="text/css", rel="stylesheet")
        block title
            title Wireframes made easy
    body
        header
            block header
        main
            block main
        footer
            block footer






